@font-face {
    font-family: Proxima;
    src: url(../fonts/Proxima.otf);
  }
body{font-size: 13px;overflow-x: hidden;font-family: Proxima;}
a{text-decoration: none !important;}
.text-white{color: #fff;}
.btn-header{padding: 3px 30px;border-radius: 15px;font-size: 13px;background-color: #FE115C;cursor: pointer;}
.btn-header-new{padding: 7px 35px;border-radius: 15px;font-size: 13px;background-color: #FE115C;cursor: pointer; color:#ffffff}
.navbar-top .navbar-nav .nav-link.clr{color: #fff;}
.hidemenu{background-color: #3FB6DA;}
.hidemenu p{color: #fff;padding: 4px; font-size: 12px;}
.center-section-img{background-image: url("../img/centerimg.png");background-repeat: round;background-size: cover;height: 565px;}
.center-image-content{padding: 60px 0px; color: #fff;}
.center-image-content h2{text-transform: uppercase;font-weight: 600;line-height: 52px;font-size: 54px;}
.center-image-content h4{font-weight: 200;}
.center-image-content p{font-weight: lighter;line-height: 14px;font-size: 12px;}
.head-sec-icon hr{border: 1px solid #FE115C;width: 20%;margin-top: 5px;margin-bottom: 8px;margin-left: 0;}
.flex-row .d-flex-wi{width: 280px;}
.head-sec-icon h5{font-size: 1rem;}
.d-flex-p{color: #fff;font-size: 16px;}
.line-hr{border-right: 1px solid #fff;padding-right: 30px !important;}
.overlay1{top: auto !important;}
.overlay1 p{font-size: 11px;}
.card-img.img-fluid{height: 420px !important;}
.card-img2.img-fluid{height: 420px !important;}
.pSize p{font-size: 11px;}
.counts-sec .card-img{border-radius: 7px;}
footer .nav-link{padding: 0; color: #fff;font-size: 12px;}
.list-cont p{color: #3FB6DA;margin-bottom: 5px;font-size: 14px;}
.pSize .form-control{font-size: 12px;}
.smartwatch-sec{padding-top: 3rem;padding-bottom: 3rem;}
.heading-sty{font-size: 2.5rem;font-weight: bolder;line-height: 42px;}
.text-bold{font-weight: 600;}
.card-sh{box-shadow: 0px 0px 10px rgb(0 0 0 / 40%);}
.overlay2{width: 40%; margin-left: 55%; margin-top: 50px;}
.overlay2 p{font-weight: 200;font-size: 12px;}
.dropdown-toggle{cursor: pointer;}
.dropdown-menu-head{width: 270px;padding: 15px;}
.dropdown-menu-head h4{font-size: 15px;font-weight: 600;}
.dropdown-menu-head .nav-tabs-head .nav-link, .dropdown-menu-head .nav-tabs-head .nav-link.active{color: #000;padding-left: 0;padding-right: 7px;border: 0; font-weight: 600;padding-bottom: 2px;font-size: 14px;}
.dropdown-menu-head .nav-tabs-head .nav-link.active{border-bottom:1px solid #000;}
.dropdown-menu-head .nav-tabs-head .nav-link:hover{color: #000;opacity: 0.7;}
.dropdown-menu-head .nav-tabs-head.nav-tabs{border-bottom:0}
.dropdown-menu-head .tab-pane .text-black ul.navbar-nav li.nav-item a.nav-link{color: #000 I !important;}
.text-black a{font-size: 13px;color: #000;display: block; padding: 5px 4px;}